{% extends "base.html" %}

{% load i18n static wagtailcore_tags %}

{% block title %}{{ page.title_translated }}{% endblock %}

{% block body_class %}template-about-festival{% endblock %}

{% block content %}
  <main class="flex-grow-1">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="content text-center">
            <section class="first d-flex justify-content-center">
              <div class="col-md-8">
                {% include_block page.body.0 %}
              </div>
            </section>

            <section class="third d-flex flex-column align-items-center">
              <div class="col-md-8">
                <h2>{% include_block page.body.1 %}</h2>
                {% include_block page.body.2 %}
                <div class="orange">
                  {% include_block page.body.3 %}
                </div>
              </div>

              <img src="{% static "img/slh-spolocenstvo.jpg" %}"
                   alt="{% trans "Photo of SLH fellowship" %}"
                   class="mt-5 img-fluid">

              <div class="col-md-8">
                <h2>{% include_block page.body.4 %}</h2>
                {% include_block page.body.5 %}
              </div>

              <img src="{% static "img/logo-slh.svg" %}" alt="{% trans "Logo SLH" %}"
                   class="mt-5 logo">
              <div class="logo-about d-flex align-items-center mb-5">
                <i class="icon-arrow1 mr-2"></i>
                <a href="https://slh.sk/" target="_blank" class="text-uppercase">
                  {% trans "more about SLH" %}
                </a>
              </div>
            </section>

            <section class="second d-flex justify-content-center pb-5">
              <div class="col-md-8">
                <img src="{% static "img/hanus.jpg" %}"
                     alt="{% trans "Photo of Ladislav Hanus" %}"
                     class="mt-5 mb-n4 hanus rounded-circle">
                <h2>{% include_block page.body.6 %}</h2>
                {% include_block page.body.7 %}
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
