{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title_translated }}{% endblock %}

{% block body_class %}template-contact{% endblock %}

{% block content %}
  <main class="flex-grow-1">
    <div class="container">
      <div class="row mx-n02">
        <div class="col d-flex px-02 mb-1 overflow-hidden">
          {% image page.left_image width-555 format-jpeg as photo %}
          <img src="{{ photo.url }}" alt="{{ photo.alt }}" class="top-photo"/>
        </div>
      </div>
      <div class="row mx-n02">
        <div class="col-md-6 col d-flex px-02 mb-1">
          <div class="content w-100 p-5">
              {{ page.left_text|richtext }}
          </div>
        </div>
        <div class="col-md-6 col d-flex px-02 mb-1">
          <div class="content w-100 p-5">
            {{ page.right_text|richtext }}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
