{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/home/crowdfunding.js' %}"></script>
{% endblock %}

{% block body_class %}template-crowdfunding{% endblock %}

{% block content %}
  <main class="flex-grow-1">
    <header>
      {% include "logo_and_description.html" %}
    </header>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 d-flex flex-column align-items-center">
          <h2 class="help text-center mt-5 mt-md-0">
            <span>{% include_block page.body.0 %}</span>
            <br>
            <span class="colorful yellow">{% include_block page.body.1 %}</span>
            <span class="colorful red">{% include_block page.body.2 %}</span>
          </h2>

          <iframe src="{% include_block page.body.3 %}"
                  frameborder="0"
                  scrolling="no"
                  class="darujme-iframe"
                  height="300px"
                  id="darujme-widget"></iframe>
        </div>
      </div>
    </div>

    <div class="rocket-wrapper">
      <div class="d-flex justify-content-center">
        <div class="thermometer">
          <div class="scale"></div>
          <div class="mercury" id="mercury"></div>
          <div class="number n-1">1</div>
          <div class="number n-2">2</div>
          <div class="number n-3">3</div>
          <div class="number n-4">4</div>
          <div class="number n-5">5000 €</div>
          <div class="number n-6">6</div>
          <div class="number n-7">7</div>
          <div class="number n-8">8</div>
          <div class="number n-9">9</div>
          <div class="number n-5000">10 000 €</div>
          <img src="{% static 'img/rocket.gif' %}" class="rocket">
        </div>
      </div>
    </div>

    <footer class="container-fluid py-5">
      <div class="row justify-content-center">
        <div class="col-md-4 text-center font-weight-bold">
          <h3 class="font-weight-bold">{% include_block page.body.4 %}</h3>
          <p>
            {% include_block page.body.5 %}
          </p>
          <p>
            <a href="{% include_block page.body.7 %}" class="btn btn-lg btn-outline-warning">{% include_block page.body.6 %}</a>
          </p>
        </div>
      </div>
    </footer>
  </main>
{% endblock %}
