{% extends "base.html" %}
{% load text %}

{% load static wagtailcore_tags %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/home/crowdfunding_candle.js' %}"></script>
{% endblock %}

{% block title %}{{ page.title_translated }}{% endblock %}

{% block body_class %}template-crowdfunding-candle{% endblock %}

{% block content %}
  <main class="flex-grow-1">
    <header>
      {% include "logo_and_description.html" %}
    </header>

    <div class="container position-relative">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 d-flex flex-column align-items-center">
          <h2 class="help text-center mt-5 mt-md-0">
            <span>{% include_block page.body.0 %}</span>
            <br>
            <span class="colorful yellow">{% include_block page.body.1 %}</span>
            <span class="colorful red">{% include_block page.body.2 %}</span>
          </h2>

          <a href="{% include_block page.body.3 %}" target="_blank"
             class="donate-button btn btn-lg btn-danger my-5">
            {% include_block page.body.4 %}
          </a>
        </div>

        <div class="col-md-10 col-lg-8 d-flex flex-column align-items-center">
          <div class="d-flex w-100 candles mt-3">
            {% for i in '0123456789' %}
              <div class="candle-wrapper c-{{ i }}">
                <div class="candle">
                  <img src="{% static 'img/candle-flame.gif' %}" alt="candle flame"
                       class="flame">
                  <img src="{% static 'img/candle-body.png' %}" alt="candle body"
                       class="body">
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="thermometer my-2">
            <div class="scale"></div>
            <div class="mercury" id="mercury"></div>
          </div>
          <div class="d-flex w-100 numbers mb-5">
            <div class="n-1">0</div>
            <div class="n-2">25%</div>
            <div class="n-3">50%</div>
            <div class="n-4">75%</div>
            <div id="target-amount" data-attr-value="{{ page.target_amount }}">
              {{ page.target_amount|intspace }} €
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="container-fluid py-5">
      <div class="row justify-content-center">
        <div class="col-md-4 text-center font-weight-bold">
          <h3 class="font-weight-bold">{% include_block page.body.5 %}</h3>
          <p>
            {% include_block page.body.6 %}
          </p>
          <p>
            <a href="{% include_block page.body.8 %}" class="btn btn-lg btn-outline-warning">
              {% include_block page.body.7 %}
            </a>
          </p>
        </div>
      </div>
      <div id="feed-url" class="d-none">{{ page.feed_url }}</div>
    </footer>
  </main>
{% endblock %}
