{% extends "base.html" %}

{% load i18n wagtailcore_tags wagtailimages_tags wagtailembeds_tags og_image %}

{% block body_class %}template-event{% endblock %}

{% block extra_meta %}
  <meta property="og:description" content="{{ self.short_overview|striptags|truncatewords:15 }}"/>
{% endblock %}

{% block og_image %}{% get_existing_og_image page as og_img_orig %}{% image og_img_orig original as og_photo %}
  {{ self.get_url_parts.1 }}{{ og_photo.url }}{% endblock %}

{% block title %}{{ page.title_translated }}{% endblock %}

{% block content %}
  <main class="flex-grow-1">
    <div class="container">
      <div class="row mx-n02">
        <div class="col-md-6 col-12 d-flex px-02 mb-1 overflow-hidden">
          <article class="event d-flex flex-column w-100"
                   style="background-color: {{ page.category.color }}">
            <div class="illustration d-flex justify-content-center align-items-center">
              {% image page.icon fill-65x65 %}
            </div>

            <div class="category">
              <div class="name">
                {{ page.category.title }}
              </div>
            </div>

            <div class="content">
              <h3>{{ page.title_translated }}</h3>

              <div class="short-overview mb-3">
                {{ page.short_overview }}
              </div>

              <ul class="speakers">
                {% for speaker_connection in page.speaker_connections.all %}
                  <li>
                    <a href="{% pageurl speaker_connection.speaker %}">
                      {{ speaker_connection.speaker.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>

              <strong class="text-uppercase">{% trans "Hosts" %}:</strong>
              <ul class="speakers">
                {% for host_connection in page.host_connections.all %}
                  <li>
                    <a href="{% pageurl host_connection.speaker %}">
                      {{ host_connection.speaker.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <footer>
              <time class="d-flex align-items-center" datetime="{{ page.date_and_time|date:'c' }}">
                <i class="far fa-calendar-alt"></i>
                {{ page.date_and_time|date:'j.n.Y' }}
                &nbsp;&mdash;&nbsp;
                {{ page.date_and_time|date:'l'|upper }}
                &nbsp;&mdash;&nbsp;
                {{ page.date_and_time|date:'G:i' }}
              </time>
              <address class="py-2 d-flex align-items-center">
                <i class="far fa-map"></i>
                <a href="{{ page.location.url_to_map }}"
                   target="_blank"
                   title="{% trans "Map to the place of occurrence" %}">
                  {{ page.location.title }}
                </a>
              </address>
            </footer>
          </article>
        </div>
        <div class="col-md-6 col-12 d-flex px-02 mb-1">
          <article class="event-detail d-flex flex-column justify-content-between p-4 w-100"
                   style="background-color: {{ page.category.color }}">
            {% if page.video_url %}
              <div class="video mb-3 d-flex justify-content-center">
                {% embed page.video_url %}
              </div>
            {% endif %}
            <div class="description">
              {{ page.description|richtext }}
            </div>

            <div class="d-flex flex-sm-row flex-column justify-content-end">
              {% if page.video_url %}
                <a href="{{ page.video_url }}" class="btn btn-warning btn-lg m-2"
                   role="button" target="_blank">
                  {{ settings.home.TranslationSettings.watch_video_button|linebreaks }}
                </a>
              {% endif %}
              {#              {% if page.date_and_time.date >= today and page.ticket_url %}#}
              <a href="{{ page.ticket_url }}" class="btn btn-primary btn-lg m-2"
                 role="button" target="_blank">
                {{ settings.home.TranslationSettings.buy_ticket_button|linebreaks }}
              </a>
              {% if settings.home.TranslationSettings.season_ticket_url %}
                <a href="{{ settings.home.TranslationSettings.season_ticket_url }}" class="btn btn-success btn-lg m-2"
                   role="button" target="_blank">
                  {{ settings.home.TranslationSettings.season_ticket_button|linebreaks }}
                </a>
              {% endif %}
              {#              {% endif %}#}
            </div>
          </article>
        </div>
      </div>
    </div>

    <div class="container">
      {% for speaker_connection in page.speaker_connections.all %}
        <div class="row mx-n02">
          <div class="col-12 px-02 mb-1">
            <div class="speaker d-flex flex-md-row flex-column">
              <div class="photo align-self-center mt-3 mt-md-0">
                {% image speaker_connection.speaker.photo min-350x350 format-jpeg %}
              </div>
              <div class="m-5">
                <a href="{% pageurl speaker_connection.speaker %}" class="speaker-heading">
                  <h4 class="mb-4">{{ speaker_connection.speaker.title }}</h4>
                </a>
                {{ speaker_connection.speaker.description|richtext }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% for host_connection in page.host_connections.all %}
        <div class="row mx-n02">
          <div class="col-12 px-02 mb-1">
            <div class="speaker d-flex flex-md-row flex-column">
              <div class="photo align-self-center mt-3 mt-md-0">
                {% image host_connection.speaker.photo min-350x350 format-jpeg %}
              </div>
              <div class="m-5">
                <a href="{% pageurl host_connection.speaker %}" class="speaker-heading">
                  <h4 class="mb-4">{{ host_connection.speaker.title }}</h4>
                </a>
                {{ host_connection.speaker.description|richtext }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
