{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ page.title_translated }}{% endblock %}

{% block body_class %}template-events{% endblock %}

{% block content %}
  <main class="flex-grow-1">
    <div class="container">
      <div class="row mx-n02 justify-content-center">
        {#        {% for event in events %}#}
        {#          {% include "home/event_block.html" %}#}
        {#        {% empty %}#}
        {#          <div class="row">#}
        {#            <div class="col-8 mx-auto text-center">#}
        {#              <div class="alert alert-warning mt-3" role="alert">#}
        {#                {% if message_empty %}#}
        {#                  {{ message_empty }}#}
        {#                {% else %}#}
        {#                  {% trans "No events found" %} 😥#}
        {#                {% endif %}#}
        {#              </div>#}
        {#            </div>#}
        {#          </div>#}
        {#        {% endfor %}#}
        <div class="col-6">
          <p>
            {{ events_json }}
          </p>
        </div>
        <div id="myapp"></div>
        <script>
          var app = Elm.Main.init({
            node: document.getElementById('myapp')
          })
        </script>
      </div>
    </div>
  </main>
{% endblock %}
