{% extends "base.html" %}
{% load i18n_extra %}

{% load i18n wagtailcore_tags wagtailimages_tags wagtailembeds_tags og_image %}

{% block body_class %}template-event{% endblock %}

{% block extra_meta %}
  <meta property="og:description" content="{{ self.short_overview|striptags|truncatewords:15 }}"/>
{% endblock %}

{% block og_image %}{% get_existing_og_image page as og_img_orig %}
  {% image og_img_orig original as og_photo %}
  {{ self.get_url_parts.1 }}{{ og_photo.url }}{% endblock %}

{% block title %}{{ page.title_translated }}{% endblock %}

{% block content %}
  <style nonce="{{request.csp_nonce}}">
  .event-color {
      background-color: {{ page.category.color }}
  }
  </style>

  <main class="flex-grow-1">
    <div class="container">
      <div class="row mx-n02">
        <div class="col-md-6 col-12 d-flex px-02 overflow-hidden">
          <article class="event d-flex flex-column w-100 event-color">
            <div class="illustration d-flex justify-content-center align-items-center">
              {% image page.icon fill-65x65 loading="lazy" %}
            </div>

            <div class="category">
              <div class="name">
                {{ page.category.title }}
              </div>
            </div>

            <div class="content">
              <h3>{{ page.title_translated }}</h3>

              <div class="short-overview mb-3">
                {{ page.short_overview }}
              </div>

              <ul class="speakers">
                {% for speaker_connection in page.speaker_connections.all %}
                  <li>
                    <a href="{{ speaker_connection.speaker.url|prefix_festival:request }}">
                      {{ speaker_connection.speaker.title_translated }}
                    </a>
                  </li>
                {% endfor %}
              </ul>

              {% if page.host_connections.all %}
                <strong>
                  {% blocktranslate count counter=page.host_connections.all|length %}Host{% plural %}Hosts{% endblocktranslate %}:
                </strong>
                <ul class="speakers">
                  {% for host_connection in page.host_connections.all %}
                    <li>
                      <a href="{{ host_connection.speaker.url|prefix_festival:request }}">
                        {{ host_connection.speaker.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </article>
        </div>
        <div class="col-md-6 col-12 d-flex px-02">
          <article class="event-detail event-color d-flex flex-column justify-content-between p-4 w-100">
            {% if page.video_url %}
              <div class="video mb-3">
                <div class="embed-container">
                  {% embed page.video_url %}
                </div>
              </div>
            {% endif %}
            <div class="description">
              {{ page.description|richtext }}
            </div>

            <div class="d-flex flex-sm-row flex-column flex-wrap justify-content-end">
              {% if page.video_url %}
                <a href="{{ page.video_url }}" role="button" target="_blank"
                   class="btn btn-warning btn-lg m-2 d-flex align-items-center">
                  {{ settings.home.TranslationSettings.watch_video_button|linebreaks }}
                </a>
              {% endif %}
            </div>
          </article>
        </div>
        <div class="col-12 d-flex px-02 mb-1 overflow-hidden">
          <article class="event no-top-p d-flex flex-column w-100 event-color">
            <footer>
              <time class="d-flex align-items-center" datetime="{{ page.date_and_time|date:'c' }}">
                <i class="far fa-calendar-alt"></i>
                {{ page.date_and_time|date:'j.n.Y' }}
                &nbsp;&mdash;&nbsp;
                {{ page.date_and_time|date:'l'|upper }}
                &nbsp;&mdash;&nbsp;
                {{ page.date_and_time|date:'G:i' }}
              </time>
              <address class="py-2 d-flex align-items-center">
                <i class="far fa-map"></i>
                <a href="{{ page.location.url_to_map }}"
                   target="_blank"
                   title="{% trans "Map to the place of occurrence" %}">
                  {{ page.location.title }}
                </a>
              </address>
            </footer>
          </article>
        </div>
      </div>
    </div>

    <div class="container">
      {% current_locale as lang %}

      <style nonce="{{request.csp_nonce}}">
        {% for block in page.buttons %}
          {% if block.value.color %}
              .btn-theme-{{ forloop.counter }} {
                  background-color: {{ block.value.color }};
              }
          {% endif %}
        {% endfor %}
      </style>

      <div class="flex grow flex-wrap mb-12 text-center font-bold uppercase whitespace-nowrap">
        {% for block in page.buttons %}
          {% if block.block_type == 'heading' %}
            <h3 class="flex justify-center w-full my-12 normal-case">
              {% if lang == "sk" %}{{ block.value.sk_text }}{% else %}{{ block.value.en_text }}{% endif %}
            </h3>
          {% elif block.block_type == 'button' %}
            <a href="{{ block.value.url }}" role="button" target="_blank"
               class="flex-1 mb-1 mr-1 p-3 rounded text-white hover:no-underline hover:brightness-90 btn-theme-{{ forloop.counter }}">
              {% if lang == "sk" %}
                {{ block.value.sk_text }}
              {% else %}
                {{ block.value.en_text }}
              {% endif %}
            </a>
          {% endif %}
        {% endfor %}
      </div>

      {% for speaker_connection in page.speaker_connections.all %}
        <div class="flex flex-col lg:flex-row mb-1 p-12">
          <div class="mb-12 lg:mb-0 lg:mr-12 flex items-center justify-center">
            {% image speaker_connection.speaker.photo fill-300x300 format-jpeg loading="lazy" class="object-cover max-w-none rounded-full" %}
          </div>
          <div class="flex flex-col justify-center">
            <a href="{{ speaker_connection.speaker.url|prefix_festival:request }}"
               class="text-white">
              <h4 class="font-bold mb-6">{{ speaker_connection.speaker.title }}</h4>
            </a>
            {{ speaker_connection.speaker.description|richtext }}
          </div>
        </div>
      {% endfor %}
      {% for host_connection in page.host_connections.all %}
        <div class="flex flex-col lg:flex-row mb-1 p-12">
          <div class="mb-12 lg:mb-0 lg:mr-12 flex items-center justify-center">
            {% image host_connection.speaker.photo fill-300x300 format-jpeg loading="lazy" class="object-cover max-w-none rounded-full" %}
          </div>
          <div class="flex flex-col justify-center">
            <a href="{{ host_connection.speaker.url|prefix_festival:request }}"
               class="text-white">
              <h4 class="font-bold mb-6">{{ host_connection.speaker.title }}</h4>
            </a>
            {{ host_connection.speaker.description|richtext }}
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
