{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block title %}{{ page.title_translated }}{% endblock %}

{% block body_class %}template-events{% endblock %}

{% block extra_js %}
  {% get_current_language as LANGUAGE_CODE %}
  <script type="text/javascript" src="{% static "elm/bundle.js" %}"></script>
  <script>
    $(document).ready(function () {
      const app = Elm.Main.init({
        node: document.getElementById('myapp'),
        flags: "{{ LANGUAGE_CODE }}",
      })
    })
  </script>
{% endblock %}

{% block content %}
  <main class="flex-grow-1">
    <div class="container">
      <div id="myapp"></div>
    </div>
    </div>
  </main>
{% endblock %}
