{% extends "base.html" %}
{% load i18n_extra %}

{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags i18n %}

{% block title_suffix %}
  {# We don't want to add suffix to festival page because it would be duplicated #}
{% endblock %}
{% block extra_meta %}
  <meta name="description" content="{{ page.hero_text|striptags }}"/>
{% endblock %}

{% block body_class %}template-festival{% endblock %}

{% block content %}
  {% current_locale as lang %}
  
  <main class="flex-grow-1">
    <div class="container">
      {# Carousel #}
      {% include "home/carousel.html" %}
    </div>

    {% if page.video_invites %}
      <div class="container">
        <section class="video-invites mb-5">
          <div class="row no-gutters">
            <div class="col-lg-8">
              <div class="video-invites-carousel">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    {% for invite in page.video_invites %}
                      <li data-target="#carouselExampleIndicators" data-slide-to="0"
                          class="{% if forloop.first %}active{% endif %}"></li>
                    {% endfor %}
                  </ol>
                  <div class="carousel-inner">
                    {% for invite in page.video_invites %}
                      <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="embed-container">
                          {% embed invite.value %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                     data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                     data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="video-text p-md-5 p-4">
                {{ page.video_text|richtext }}
              </div>
            </div>
          </div>
        </section>
      </div>
    {% endif %}

    {% if page.headline %}
      <div class="container">
        <section id="headline">
          <div class="row mx-n02 justify-content-center">
            {% for block in page.headline %}
              {% if block.block_type == "heading" %}
                <div class="col-12 flex justify-center">
                  <h2>
                    {% if lang == "sk" %}{{ block.value.sk }}{% else %}{{ block.value.en }}{% endif %}
                  </h2>
                </div>
              {% else %}
                <div class="col-md-6 col-lg-4 d-flex flex-column px-02 mb-1">
                  <div class="headliner overflow-hidden">
                    <a href="{{ block.value.link.specific.url|prefix_festival:request }}" class="stretched-link d-block">
                      {% image block.value.photo fill-360x360 format-jpeg as tmp_photo %}
                      <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"/>
                      {% if block.value.name and block.value.description %}
                        <div class="name px-4 d-flex flex-column justify-content-center">
                          <div class="d-flex flex-row">
                            <i class="icon-arrow3 float-left mr-2"></i>
                            <h4>
                              {{ block.value.name }}
                            </h4>
                          </div>
                        </div>
                        <div class="description px-4 pb-4">
                          <div class="overflow-hidden">
                            {{ block.value.description|richtext }}
                          </div>
                        </div>
                      {% endif %}
                    </a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </section>
      </div>
    {% endif %}

    {% if grouped_events %}
      <div class="container">
        <section class="events">
          <h2>{% trans "Programme" %}</h2>

          {% for day, events in grouped_events.items %}
            <h3 class="my-8 text-lg text-center">
              <time datetime="{{ day|date:'c' }}">
                {{ day|date:'l'|upper }}
                &nbsp;&mdash;&nbsp;
                {{ day|date:'j. E' }}
              </time>
            </h3>

            <style nonce="{{request.csp_nonce}}">
              {% for event in events %}
                  .event-theme-{{ event.pk }} {
                      background-color: {{ event.category.color }}
                  }
              {% endfor %}
            </style>

            <div class="flex flex-wrap justify-center">
              {% for event in events %}
                <a href="{{ event.url|prefix_festival:request }}"
                   class="flex flex-column grow sm:max-w-[50%] md:max-w-[33.3%] hover:no-underline hover:brightness-110">
                  <div class="flex flex-column grow mx-3 md:mx-6 mb-4 text-white">
                    {% image event.image fill-400x400 format-jpeg loading="lazy" class="h-60 object-cover min-w-full" %}
                    <div class="flex grow justify-between p-3 event-theme-{{ event.pk }}">
                      <div class="text-lg font-bold">{{ event.title_translated }}</div>
                      <div class="ml-2 -mr-0.5 shrink text-sm text-right font-bold">{{ event.date_and_time|date:'G:i' }}</div>
                    </div>
                  </div>
                </a>
              {% endfor %}
            </div>
          {% endfor %}
          <div class="flex justify-center">
            <a href="program" class="my-10 py-6 px-10 bg-sky-500 hover:bg-sky-400 hover:no-underline text-lg text-white uppercase font-bold">
              {% if lang == "sk" %}Objav celý program...{% else %}Show all events...{% endif %}
            </a>
          </div>
        </section>
      </div>
    {% endif %}

    <div class="container">
      <section class="partners">
        <div class="d-flex flex-row flex-wrap justify-content-center">
          {% for partner_section in page.partner_sections %}
            {% include_block partner_section %}
          {% endfor %}
        </div>
      </section>
    </div>
  </main>
{% endblock %}

{% block footer_content %}
  <footer class="text-center mt-4">
    <div class="container-fluid my-3">
      <div class="row">
        <div class="col d-flex flex-column my-3">
          <h3>{% trans "Contact" %}</h3>
          <p>
            <a href="mailto:{{ page.contact_email }}">{{ page.contact_email }}</a>
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 d-flex flex-column my-3">
          <h3>{% trans "Map" %}</h3>
          {# https://googlemaps-embed.com/ #}
          <iframe class="w-100 contact-map"
                  src="https://maps.google.com/maps?hl=sk&amp;q={{ page.contact_map_location }}&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
          </iframe>
        </div>
      </div>
    </div>
    
    <div class="container-fluid copy">
      <div class="row">
        <div class="col my-3">
          <p class="mb-2">
            <a href="/bhd/gdpr/">{% trans "Privacy policy" %}</a>
          </p>
          <p>{% trans "The Ladislav Hanus Fellowship" %} &copy; {% now "Y" %}</p>
        </div>
      </div>
    </div>

    <div class="cookie d-flex justify-content-center">
      <div id="cookiesAlert" role="alert"
           class="alert alert-secondary alert-dismissible fade show py-1 d-none">
        <span>{% trans "We use 🍪 cookies" %} :)</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="{% trans "Close" %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </footer>
{% endblock %}