{% extends "base.html" %}
{% load i18n_extra %}
{% load static wagtailcore_tags wagtailembeds_tags wagtailimages_tags i18n %}

{% block body_class %}template-podcast{% endblock %}
{% block title %}{{ page.title_translated }}{% endblock %}

{% block content %}
  <main class="flex-grow-1" id="main-div">
    <div class="container mb-1">
      <div class="row d-flex flex-row mb-1">
        <div class="col-lg-8">
          <div class="description p-4">
            <h2>{{ page.title_translated }}</h2>
            {{ page.description|richtext }}
          </div>
        </div>
        <div class="col-lg-4">
          <div class="m-3 d-flex flex-column align-items-center justify-content-around">
            <a href="https://anchor.fm/slhpodcast/" target="_blank"
               class="m-2" title="{% translate "Listen on" %} Anchor.fm">
              <img src="{% static "img/badge-anchor-fm.svg" %}" alt="Badge">
            </a>
            <a href="https://open.spotify.com/show/2lOP4d9J05OfvC6fHVJZsF?si=OZT1DGKlQHeSze_aop507Q" target="_blank"
               class="m-2" title="{% translate "Listen on" %} Spotify">
              <img src="{% static "img/badge-spotify.svg" %}" alt="Badge">
            </a>
            <a href="https://podcasts.apple.com/sk/podcast/hanusove-dni/id1542444752" target="_blank"
               class="m-2" title="{% translate "Listen on" %} Apple Podcasts">
              <img src="{% static "img/badge-apple-podcasts-en.svg" %}" alt="Badge">
            </a>
          </div>
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-12">
          <div id="podcast-img"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row d-flex flex-row">
        <div class="col-12">
          <div class="row mx-n02 w-100">
            {% for episode in page.episodes %}
              <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex px-02 mb-1 overflow-hidden">
                <article class="event d-flex flex-column"
                         style="background-color: {{ episode.value.category.color }}">

                  <div class="category">
                    <div class="name">
                      {{ episode.value.category.title }}
                    </div>
                  </div>

                  <div class="content">
                    <h3>
                      #{{ episode.value.number }}<br>
                      {% current_locale as lang %}
                      {% if lang == "sk" %}
                        {{ episode.value.title_sk }}
                      {% else %}
                        {{ episode.value.title_en }}
                      {% endif %}
                    </h3>
                  </div>

                  <footer class="mb-3">
                    <a href="{{ episode.value.url_anchor }}" target="_blank" class="mx-2"
                       title="{% translate "Listen on" %} Anchor.fm">
                      <i class="fas fa-anchor"></i>
                    </a>
                    <a href="{{ episode.value.url_apple }}" target="_blank" class="mx-2"
                       title="{% translate "Listen on" %} Apple Podcasts">
                      <i class="fas fa-podcast"></i>
                    </a>
                    <a href="{{ episode.value.url_anchor }}" target="_blank" class="mx-2"
                       title="{% translate "Listen on" %} Spotify">
                      <i class="fab fa-spotify"></i>
                    </a>
                  </footer>
                </article>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
