{% extends "base.html" %}

{% load wagtailcore_tags i18n %}

{% block title %}{{ page.title_translated }}{% endblock %}

{% block body_class %}template-program{% endblock %}

{% block content %}
  <main class="flex-grow-1">
    <div class="container">
      {% for day, events in grouped_events.items %}
        <div class="row">
          <h2 class="col-12 event-index-header">
            <time datetime="{{ day|date:'c' }}">
              {{ day|date:'l'|upper }}
              &nbsp;&mdash;&nbsp;
              {{ day|date:'j. E' }}
            </time>
          </h2>
        </div>

        <div class="row mx-n02 justify-content-center">
          {% for event in events %}
            {% include "home/event_block.html" %}
          {% endfor %}
        </div>
      {% empty %}
        <div class="row">
          <div class="col-8 mx-auto text-center">
            <div class="alert alert-warning mt-3" role="alert">
              {% if message_empty %}
                {{ message_empty }}
              {% else %}
                {% trans "No events found" %} 😥
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
