{% extends "base.html" %}
{% load i18n_extra %}

{% load i18n wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-speakers{% endblock %}

{% block title %}{{ page.title_translated }}{% endblock %}

{% block content %}
  <main class="flex-grow-1">
    <div class="container">
      {% for year, festivals in speakers_by_year.items %}
        {% for festival, speakers in festivals.items %}
          <div class="row mx-n02">
            <div class="col-12 text-center my-5">
              <h2>{{ festival.title }} {{ year }}</h2>
            </div>

            {% for speaker in speakers %}
              <div class="col-md-6 px-02 mb-1">
                <div class="speaker">
                  <a href="{{ speaker.url|prefix_festival:request }}" class="d-flex flex-sm-row flex-column">
                    <div class="photo-small align-self-center mt-3 mt-sm-0 flex-shrink-0">
                      {% image speaker.photo fill-150x150-c100 format-jpeg loading="lazy" %}
                    </div>
                    <div class="d-flex align-items-center px-2 px-sm-5">
                      <h3 class="m-0">{{ speaker.title_translated }}</h3>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}

      {% empty %}
        <div class="row mx-n02">
          <div class="col-8 mx-auto text-center">
            <div class="alert alert-warning mt-3" role="alert">
              {% trans "No speakers found" %} 😥
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
