{% extends "base.html" %}

{% load i18n wagtailcore_tags wagtailimages_tags %}

{% block og_image %}{% image speaker.photo original format-jpeg as og_photo %}{{ self.get_url_parts.1 }}
  {{ og_photo.url }}{% endblock %}
{% block extra_meta %}
  <meta property="og:description" content="{{ self.description|striptags|truncatewords:15 }}"/>
{% endblock %}

{% block title %}{{ page.title_translated }}{% endblock %}

{% block body_class %}template-speaker{% endblock %}

{% block content %}
  <main class="flex-grow-1">
    <div class="container">
      <div class="flex flex-col lg:flex-row mb-1 p-12 bg-neutral-800">
        <div class="mb-12 lg:mb-0 lg:mr-12 flex justify-center items-center">
          {% image page.photo fill-300x300 format-jpeg loading="lazy" class="object-cover max-w-none rounded-full" %}
        </div>
        <div class="flex flex-col justify-center">
          <h4 class="font-bold mb-6">{{ page.title_translated }}</h4>
          {{ page.description|richtext }}
        </div>
      </div>

      <div class="row mx-n02">
        {% for event in new_events %}
          {% include "home/event_block.html" %}
        {% endfor %}
      </div>

      <h5 class="font-bold my-5 text-center">{% trans "Past events" %}</h5>

      <div class="row mx-n02">
        {% for event in old_events %}
          {% include "home/event_block.html" %}
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
