{% extends "base.html" %}
{% load static wagtailcore_tags wagtailembeds_tags wagtailimages_tags i18n %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/home/stream.js' %}"></script>
{% endblock %}

{% block body_class %}template-stream{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
  <main class="flex-grow-1" id="main-div" data-revision="{{ page.live_revision_id }}">
    <div class="container">
      <div class="row d-flex flex-row justify-content-center">
        <div class="col-lg-10">
          <div id="body-wrapper" class="mt-4">
            <div id="embed-wrapper" class="w-100">
              <div class="embed-container">
                {% embed page.stream_url %}
              </div>
            </div>

            {% image page.background format-jpeg %}

            <div id="form-wrapper" class="w-100 p-4 py-5">
              <div class="row h-100 d-flex justify-content-center">
                <div class="col-lg-5 d-flex flex-column justify-content-center p-3 box-bg">
                  <div class="mb-3 text-center">
                    {{ page.body|richtext }}
                  </div>

                  <form id="stream-form" action="" method="POST" target="no-target">
                    <div class="form-group">
                      <input type="hidden" id="google-form-url" value="{{ page.google_form_url }}">
                      <label for="input-email" class="sr-only">Email address</label>
                      <input type="email" placeholder="Email address" class="form-control" id="input-email">
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-outline-light">
                      <strong>{{ page.button_text }}</strong>
                    </button>
                  </form>
                  <div class="mt-4 text-center alternative">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == 'en' %}
                      (or <a href="" id="continue-without-email">continue without email</a>)
                    {% else %}
                      (alebo <a href="" id="continue-without-email">pokračovať bez zadania emailu</a>)
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex flex-row justify-content-center mt-5 pt-5">
          <a class="btn-support p-4 text-center" href="{% pageurl page.donate_button_action %}" target="_blank">
            <i class="icon-arrow1 mt-2 mr-2"></i>
            {{ page.donate_button_text }}
          </a>
        </div>
      </div>
    </div>

    <iframe src="#" id="no-target" name="no-target" style="visibility:hidden"></iframe>
  </main>
{% endblock %}
