.template-contact {
  .content {
    background-color: $c-bg;
    font-size: 1.1rem;

    p {
      margin-bottom: 1rem;
    }
    h2, h3 {
      font-weight: 500;
    }
    h2 {
      margin-bottom: 1rem;
    }
    h3 {
      margin-top: -0.7rem;
    }
    a {
      color: $c-red-light;
    }
  }
  .top-photo {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
