.template-donate {
  font-family: $font-special;

  h2 {
    font-size: 1.8rem;
  }

  #banner {
    background: url("../img/bg-dots.png") $c-purple;

    h2 {
      font-size: 2rem;
    }

    img {
      max-width: 230px;
    }

    hr {
      height: 0;
      border-bottom: 3px solid white;
      margin-top: 25px;
    }
  }

  #stats {
    background: $c-bg;

    img {
      width: 75px;
    }
  }

  #why-support {
    background: $c-bg;

    ul {
      position: relative;
      padding: 0;
    }

    li {
      padding-left: 50px;
      margin-bottom: 1.5rem;
      font-size: 1.2rem;
      list-style: none;

      &:before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 40px;
        height: 12px;
        margin-right: 10px;
        margin-top: 6px;
        background-image: url("../img/icon-arrow-blue.svg");
        background-size: cover;
        background-position: center;
      }
    }
  }

  #support-how {
    background: $c-orange-light;
    font-size: 1.3rem;

    p {
      margin: 0;
    }

    &-1, &-2 {
      background: $c-bg;

      p {
        margin: 0;
      }

      .manual-padding {
        margin: 0 50px;
      }

      i.icon-arrow1 {
        color: $c-orange-light;
        font-size: 2.3rem;
        width: 2.3rem;
        height: 2.3rem;
      }
    }
  }

  #thank-you {
    background: $c-red-light;
    font-size: 2rem;

    p {
      margin: 0;
    }

    img {
      width: 40px;
    }
  }
}
