.template-podcast {
  .description {
    background: $c-bg;
  }

  .podcast-links {
    background: $c-bg;
  }

  #podcast-img {
    min-height: 240px;
    background-image: url("../img/bg-podcast.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .event {
    a {
      &:hover {
        color: inherit;
        opacity: 0.7;
        text-decoration: none;
      }
    }

    footer {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}
