@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~bootstrap/scss/bootstrap";

@import "variables";
@import "icons";
@import "homepage";
@import "festival";
@import "events";
@import "contact";
@import "about_festival";
@import "donate";
@import "partners";
@import "crowdfunding";
@import "crowdfunding_stars";
@import "crowdfunding_rocket2";
@import "crowdfunding_candle";
@import "stream";
@import "speaker";
@import "podcast";


body {
  min-height: 100vh;
  background: url("../img/bg-stars.svg") no-repeat black;
  background-position-x: center;
  color: white;

  font-family: $font-main;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $c-orange-light;

  &:hover, :focus {
    color: $c-orange-light;
  }
}

.site-header {
  font-family: $font-special;
  text-transform: uppercase;

  a {
    color: white;
    display: block;
  }

  .logo img {
    width: 8rem;
    height: 8rem;
  }

  .main-information {
    height: 100%;
    border-left: 1px solid white;

    h1 {
      font-size: 1.05rem;
      margin-bottom: 0.3rem;
    }

    .place, time {
      font-size: 0.875rem;
      color: #D3D3D3;
    }

    p {
      margin: 0
    }
  }
}

header nav a {
  @apply text-gray-50 leading-10 transition duration-200
    hover:no-underline  hover:text-gray-700
    [&:nth-child(1)]:hover:bg-sky-300
    [&:nth-child(2)]:hover:bg-violet-300
    [&:nth-child(3)]:hover:bg-rose-300
    [&:nth-child(4)]:hover:bg-orange-300
    [&:nth-child(5)]:hover:bg-green-300
    [&:nth-child(6)]:hover:bg-amber-300
    [&:nth-child(7)]:hover:bg-teal-300
    [&:nth-child(8)]:hover:bg-red-300
    [&:nth-child(9)]:hover:bg-fuchsia-300
    [&:nth-child(10)]:hover:bg-yellow-300

    [&:nth-child(1)]:active:bg-sky-400
    [&:nth-child(2)]:active:bg-violet-400
    [&:nth-child(3)]:active:bg-rose-400
    [&:nth-child(4)]:active:bg-orange-400
    [&:nth-child(5)]:active:bg-green-400
    [&:nth-child(6)]:active:bg-amber-400
    [&:nth-child(7)]:active:bg-teal-400
    [&:nth-child(8)]:active:bg-red-400
    [&:nth-child(9)]:active:bg-fuchsia-400
    [&:nth-child(10)]:active:bg-yellow-400;
}

body > footer {
  font-family: $font-special;
  font-weight: bold;
  background-color: $c-bg;
  color: $c-menu-text;
  font-size: 0.9rem;

  h3 {
    font-size: 1.1rem;
  }

  a {
    color: white;
    opacity: 0.8;

    &:hover, &:focus {
      color: $c-special;
      text-decoration: none;
      opacity: 1;
    }
  }

  p {
    margin-bottom: 0;
  }

  .copy {
    background-color: $c-menu-bg;
  }

  .cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: $font-main;

    .alert {
      padding-right: 30px;
      box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);

      > span {
        opacity: 0.9;
      }

      button {
        padding: 0 10px 0 5px;
      }
    }
  }

  .contact-map {
    height: 400px;
    filter: grayscale(0.8);
    border: 0;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.m {
  &-01 {
    margin: 0.15rem !important;
  }

  &r-01 {
    margin-right: 0.15rem !important;
  }

  &t-01 {
    margin-top: 0.15rem !important;
  }

  &x-n02 {
    margin-left: -2px;
    margin-right: -2px;
  }
}

.p {
  &x-02 {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .p {
    &x-xl-2rem {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
    }
  }
}

.language-switcher {
  top: 0;
  right: 15%;
}

.language-switcher-head {
  font-size: 0.8rem;
  font-family: $font-special;
  padding-right: 1%;

  .link-group {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }

  a {
    background-color: $c-light-grey;
    color: black;
    font-weight: bold;
    display: block;
    padding: 3px 8px 0px 8px;
    text-transform: uppercase;

    &:hover {
      background-color: white;
      color: black;
      text-decoration: none;
    }

    &.spacer {
      border-right: 2px solid black;
    }
  }
}

.template-generic {
  article {
    background-color: $c-bg;
    font-size: 1.1rem;

    p {
      margin-bottom: 1rem;
    }
  }
}

.collapse {
  visibility: visible;  // to fix navbar from bootstrap
}