{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block body_class %}template-festival{% endblock %}

{% block content %}
  <main class="flex-grow-1">
    <div class="container">
      <section class="hero row mx-n02">
        <div class="col-lg-6 px-02 mb-1 d-flex">
          <div class="p-md-5 p-4 hero-text flex-grow-1">
            {{ page.hero_text|richtext }}
          </div>
        </div>
        <div class="col-lg-6 px-02 mb-1 d-flex">
          <div class="hero-carousel d-flex flex-grow-1">
            <div id="carouselHeroImages" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                {% for hero_image in page.hero_images.all %}
                  <li data-target="#carouselHeroImagesIndicators" data-slide-to="0"
                      class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
              </ol>
              <div class="carousel-inner h-100">
                {% for hero_image in page.hero_images.all %}
                  <div class="carousel-item h-100 {% if forloop.first %}active{% endif %}">
                    <a href="{{ hero_image.url }}" target="_blank">
                      {% image hero_image.image original format-jpeg as tmp_photo %}
                      <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"/>
                    </a>
                  </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#carouselHeroImages" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselHeroImages" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container">
      <section class="call-to-action row">
        <div class="col-lg-4 col-md-6 small-gutter">
          <div class="btn-full">
            <a class="d-flex flex-row align-items-center justify-content-center red big text-center"
               href="{{ page.hero_buttons.0.value.link }}">
              <div>
                <i class="icon-arrow1 mt-2 mr-2"></i>
                {{ page.hero_buttons.0.value.title }}
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 small-gutter">
          <div class="btn-full">
            <a class="d-flex fle-row align-items-center justify-content-center blue big text-center"
               href="{{ page.hero_buttons.1.value.link }}">
              <div>
                <i class="icon-arrow2 mt-2 mr-2"></i>
                <span>{{ page.hero_buttons.1.value.title }}</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 small-gutter">
          <div class="btn-full">
            <a class="d-flex orange about-slh" href="https://www.slh.sk" target="_blank">
              <div class="row w-100">
                <div class="col-7 mb-n4 text d-flex flex-column justify-content-center">
                  <div>Hanusove dni organizuje Spoločenstvo Ladislava Hanusa</div>
                  <div class="more d-flex align-items-center">
                    <i class="icon-arrow3 mt-2 mr-2"></i>
                    <span>Viac o SLH</span>
                  </div>
                </div>
                <div class="col-5 d-flex align-items-center justify-content-center">
                  <img src="/static/img/logo-slh.svg" alt="SLH logo" class="logo">
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>

    {% if page.video_invites.all %}
      <div class="container">
        <section class="video-invites">
          <h2>Videopozvánka</h2>
          <div class="row no-gutters">
            <div class="col-lg-8">
              <div class="video-invites-carousel">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    {% for invite in page.video_invites.all %}
                      <li data-target="#carouselExampleIndicators" data-slide-to="0"
                          class="{% if forloop.first %}active{% endif %}"></li>
                    {% endfor %}
                  </ol>
                  <div class="carousel-inner">
                    {% for invite in page.video_invites.all %}
                      <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="embed-container">
                          {% embed invite.url %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="video-text p-md-5 p-4">
                {{ page.video_text|richtext }}
              </div>
            </div>
          </div>
        </section>
      </div>
    {% endif %}

    {% if page.headline %}
      <div class="container">
        <section id="headline">
          <h2>Headlineri</h2>

          <div class="row mx-n02 justify-content-center">
            {% for headliner in page.headline %}
              <div class="col-md-6 col-lg-4 d-flex flex-column px-02 mb-1">
                <div class="headliner overflow-hidden">
                  {% image headliner.value.photo fill-360x360 format-jpeg as tmp_photo %}
                  <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"/>
                  <a href="{{ headliner.value.link }}" class="stretched-link d-block">
                    <div class="name p-4">
                      <i class="icon-arrow3 float-left mr-2"></i>
                      <h4>
                        {{ headliner.value.name }}
                      </h4>
                    </div>
                    <div class="description px-4 pb-4">
                      <div class="overflow-hidden">
                        {{ headliner.value.description|richtext }}
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        </section>
      </div>
    {% endif %}

    {% if page.events %}
      <div class="container">
        <section class="events">
          <h2>Program</h2>

          <div class="row mx-n02 justify-content-center">
            {% for event in page.events %}
              {% include "home/event_block.html" %}
            {% endfor %}
          </div>
        </section>
      </div>
    {% endif %}

    <div class="container">
      <section class="social-media">
        <h2>Sledujte nás na Facebooku</h2>

        <div class="row mx-n02">
          <div class="col-md-6 px-02">
            <a href="https://www.facebook.com/BratislavskeHanusoveDni/"
               class="d-flex justify-content-center align-content-center mb-1 text-decoration-none" target="_blank">
              <i class="icon-arrow3 mr-2"></i>
              BHD facebook
            </a>
          </div>
          <div class="col-md-6 px-02">
            <a href="https://www.facebook.com/kosickehanusovedni/"
               class="d-flex justify-content-center align-content-center mb-1 text-decoration-none" target="_blank">
              <i class="icon-arrow3 mr-2"></i>
              KHD facebook
            </a>
          </div>
        </div>
      </section>
    </div>

    <div class="container">
      <section class="partners">
        {% if page.partners.all %}
          <h2>Partneri</h2>

          <div class="d-flex flex-row flex-wrap justify-content-center">
            {% for partner in page.partners.all %}
              <a href="{{ partner.url }}" target="_blank" class="mx-4 my-3">
                {% image partner.logo height-50 %}
              </a>
            {% endfor %}
          </div>
        {% endif %}

        {% if page.media_partners.all %}
          <h2>Mediálni partneri</h2>

          <div class="d-flex flex-row flex-wrap justify-content-center">
            {% for partner in page.media_partners.all %}
              <a href="{{ partner.url }}" target="_blank" class="mx-4 my-3">
                {% image partner.logo height-50 %}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </section>
    </div>
  </main>
{% endblock %}
