{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
  <div class="container">
    <section class="hero row no-gutters">
      <div class="col-lg-6 hero-text">
        <div>
          {{ page.hero_text|richtext }}
          <div class="link-more d-flex align-items-center">
            <i class="icon-arrow1"></i>
            <a href="">viac o festivale</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-carousel">
        <img src="https://i2.wp.com/www.hanusovedni.sk/assets/Stan-sa-dobrovo%C4%BEn%C3%ADkom-1.png?fit=600%2C400&ssl=1"
             alt="">
      </div>
    </section>
  </div>

  <div class="container call-to-action-container">
    <section class="call-to-action row">
      <div class="col-lg-4 col-md-6">
        <div class="btn-full">
          <a class="d-flex align-items-center justify-content-center red big" href="">
            <i class="icon-arrow1 mt-2 mr-2"></i>
            Pozrieť program
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="btn-full">
          <a class="d-flex align-items-center justify-content-center blue big" href="">
            <i class="icon-arrow2 mt-2 mr-2"></i>
            Kúpiť lístky
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="btn-full">
          <a class="d-flex orange" href="">viac o slh</a>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
