{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block body_class %}template-homepage justify-content-center{% endblock %}

{% block header_content %}{% endblock %}

{% block content %}
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row w-100 justify-content-center">
      {% for festival in page.festivals %}
        <div class="col-md-6 my-5">
          <a href="{% pageurl festival %}" class="py-3">
            <div class="container-fluid site-header my-3">
              <div class="row no-gutters">
                <div class="col-sm-6 col d-flex justify-content-center justify-content-sm-end">
                  <div class="logo py-2 pr-4
                  d-flex flex-column justify-content-center">
                    {% if festival.logo %}
                      <img src="{{ festival.logo.url }}"
                           alt="Logo {{ festival.title }}">
                    {% endif %}
                  </div>
                </div>
                <div class="col-sm-6 col d-flex justify-content-center justify-content-sm-start">
                  <div class="main-information py-2 pl-4
                  d-flex flex-column justify-content-center">
                    <h1>{{ festival.formatted_title|richtext }}</h1>
                    <div>
                      <time datetime="{{ festival.start_date|date:'c' }}">
                        {{ festival.start_date|date:'j. E' }}
                      </time>
                      &mdash;
                      <time datetime="{{ festival.end_date|date:'c' }}">
                        {{ festival.end_date|date:'j. E Y' }}
                      </time>
                    </div>
                    <div class="place">{{ festival.place }}</div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
