{% extends "base.html" %}

{# TODO pozriet ci potebujem toto vsetko importovat #}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block body_class %}template-program{% endblock %}

{% block content %}
  <main class="flex-grow-1">
    <div class="container">
      {% for day, events in grouped_events.items %}
        <div class="row">
          <h2 class="col-12 event-index-header">
            <time datetime="{{ day|date:'c' }}">
              {{ day|date:'l'|upper }}
              &nbsp;&mdash;&nbsp;
              {{ day|date:'j. E' }}
            </time>
          </h2>
        </div>

        <div class="row mx-n02 justify-content-center">
          {% for event in events %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex px-02 overflow-hidden">
              <a href="{% pageurl event %}" class="d-flex w-100 text-decoration-none">
                <article class="event d-flex flex-column"
                         style="background-color: {{ event.category.color }}">
                  <div class="illustration d-flex justify-content-center align-items-center">
                    {% image event.icon fill-65x65 %}
                  </div>

                  <div class="category">
                    <div class="name">
                      {{ event.category.title }}
                    </div>
                  </div>

                  <div class="content">
                    <h3>{{ event.title }}</h3>

                    <ul class="speakers">
                      {% for speaker in event.speakers.all %}
                        <li>{{ speaker.title }}</li>
                      {% endfor %}
                    </ul>
                  </div>

                  <footer>
                    <time class="d-flex align-items-center" datetime="{{ event.date_and_time|date:'c' }}">
                      {{ event.date_and_time|date:'j.n.' }}
                      &nbsp;&mdash;&nbsp;
                      {{ event.date_and_time|date:'l'|upper }}
                      &nbsp;&mdash;&nbsp;
                      {{ event.date_and_time|date:'G:i' }}
                    </time>
                    <address class="py-2 d-flex align-items-center">
                      {{ event.location.title }}
                    </address>
                  </footer>
                </article>
              </a>
            </div>
          {% endfor %}
        </div>
      {% empty %}
        <div class="row">
          <div class="col-8 mx-auto text-center">
            <div class="alert alert-warning mt-3" role="alert">
              {% trans "Nenašli sa žiadne podujatia" %} 😥
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
