{% extends "base.html" %}

{% load i18n wagtailcore_tags wagtailimages_tags %}

{% block og_image %}{% image speaker.photo original format-jpeg as og_photo %}{{ self.get_url_parts.1 }}{{ og_photo.url }}{% endblock %}
{% block extra_meta %}
  <meta property="og:description" content="{{ self.description|striptags|truncatewords:15 }}"/>
{% endblock %}

{% block body_class %}template-speaker{% endblock %}

{% block content %}
  <main class="flex-grow-1">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-1">
          <div class="speaker d-flex flex-md-row flex-column">
            <div class="photo align-self-center mt-3 mt-md-0">
              {% image speaker.photo min-350x350 format-jpeg %}
            </div>
            <div class="m-5">
              <a href="{% pageurl speaker %}" class="speaker-heading">
                <h4 class="mb-4">{{ speaker.title }}</h4>
              </a>
              {{ speaker.description|richtext }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mx-n02">
        {% for event in speaker.events.live %}
          {% include "home/event_block.html" %}
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
