# Docker-compose file used on production

version: "3"

services:
  web:
    image: ${WEB_IMAGE}
    env_file:
      - secrets.env
    environment:
      DJANGO_SETTINGS_MODULE: "hanusovedni.settings.production"
    volumes:
      - /var/www/static:/static_root
      - /var/www/media:/media_root
    healthcheck:
      test: python -c "import urllib.request; urllib.request.urlopen('http://localhost:8000/', timeout=5).read()"
      interval: 1m
      timeout: 5s
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: "0.5"
          memory: 300M
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.web-router.rule=Host(`hanusovedni.online`, `www.hanusovedni.online`, `hanusovedni.sk`, `www.hanusovedni.sk`)"
        - "traefik.http.routers.web-router.middlewares=without-www"
        - "traefik.http.routers.web-https-router.rule=Host(`hanusovedni.online`, `www.hanusovedni.online`, `hanusovedni.sk`, `www.hanusovedni.sk`)"
        - "traefik.http.routers.web-https-router.tls"
        - "traefik.http.routers.web-https-router.middlewares=without-www"
        - "traefik.http.services.web.loadbalancer.server.port=8000"
        - "traefik.http.middlewares.without-www.redirectregex.regex=^https?://www\\.hanusovedni\\.(online|sk)/(.*)"
        - "traefik.http.middlewares.without-www.redirectregex.replacement=https://hanusovedni.$${1}/$${2}"

  redis:
    deploy:
      resources:
        limits:
          memory: 100M

  nginx:
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /var/www/static:/usr/share/nginx/static:ro
      - /var/www/media:/usr/share/nginx/media:ro
    deploy:
      resources:
        limits:
          memory: 100M
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.nginx-router.rule=Host(`hanusovedni.online`, `www.hanusovedni.online`, `hanusovedni.sk`, `www.hanusovedni.sk`) && PathPrefix(`/static/`, `/media/`)"
        - "traefik.http.routers.nginx-https-router.rule=Host(`hanusovedni.online`, `www.hanusovedni.online`, `hanusovedni.sk`, `www.hanusovedni.sk`) && PathPrefix(`/static/`, `/media/`)"
        - "traefik.http.routers.nginx-https-router.tls"
        - "traefik.http.services.nginx.loadbalancer.server.port=80"

  db:
    env_file:
      - secrets.env
    volumes:
      - /var/www/pgdata:/var/lib/postgresql/data/pgdata
    deploy:
      resources:
        limits:
          memory: 100M

  reverse-proxy:
    volumes:
      - ./traefik.${ENVIRONMENT}.yml:/etc/traefik/traefik.yml:ro
    deploy:
      resources:
        limits:
          memory: 100M
#    deploy:
#      labels:
#        - "traefik.enable=true"
#        - "traefik.http.routers.api.rule=Host(`traefik.hanusovedni.online`, `traefik.hanusovedni.sk`)"
#        - "traefik.http.services.dummy-svc.loadbalancer.server.port=9999"
#        - "traefik.http.routers.api.entryPoints=traefik"
#        - "traefik.http.routers.api.service=api@internal"
