# Docker-compose file used on production

version: "3"

services:
  web:
    image: ${WEB_IMAGE}
    ports:
    - "80:8000"
    env_file:
      - secrets.env
    environment:
      DJANGO_SETTINGS_MODULE: "hanusovedni.settings.production"
    volumes:
    - /var/www/static:/static_root
    - /var/www/media:/media_root
    - /etc/mime.types:/etc/mime.types
    healthcheck:
      test: python -c "import requests; requests.get('http://localhost:8000', timeout=5).ok" || exit 1
      interval: 1m
      timeout: 5s
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: "0.3"
          memory: 400M
      restart_policy:
        condition: on-failure

  db:
    env_file:
      - secrets.env
