.event-index-header {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.event {
  width: 100%;
  border-radius: 2px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 25px;

  font-family: $font-main;
  font-weight: bold;
  color: white;

  background-image: url("../img/bg-polka-dots.png");

  &:hover {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.05);
  }

  a {
    color: white;

    &:hover {
      text-decoration: underline
    }
  }

  .illustration {
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;

    img {
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .category {
    position: absolute;
    height: 110px;
    width: 110px;
    top: -55px;
    right: -55px;
    transform: rotate(45deg);
    background-color: rgba(0, 0, 0, 0.4);

    .name {
      position: absolute;
      width: 100%;
      bottom: 5px;
      text-transform: uppercase;
      font-size: 0.6rem;
      text-align: center;
    }
  }

  h3 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1.5px solid white;

    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3;
  }

  .content {
    flex: 1 0 auto;
  }

  .speakers {
    padding: 0;
    list-style: none;
  }

  footer {
    flex-shrink: 0;
    margin-left: -20px;
    margin-right: -25px;
    font-size: 0.8rem;

    time {
      min-height: 28px;
      padding-left: 20px;
      padding-right: 25px;
      border-top: 3px solid rgba(0, 0, 0, 0.2);
      background-color: rgba(0, 0, 0, 0.5);
    }

    address {
      min-height: 3.5rem;
      margin-bottom: 0;
      padding-left: 20px;
      padding-right: 25px;
      background-color: rgba(0, 0, 0, 0.7);
      text-transform: uppercase;

      p {
        margin: 0;
      }
    }

    .far {
      width: 20px;
    }
  }
}

.speaker {
  background-color: $c-bg;
  font-size: 0.9rem;

  .photo {
    img {
      object-fit: cover;
      width: 350px;
      height: 350px;
    }
  }
  .photo-small {
    img {
      object-fit: cover;
      width: 150px;
      height: 150px;
    }
  }

  a.speaker-heading {
    font-family: $font-special;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.template-event {
  .event-detail {
    border-radius: 2px;
    font-size: 0.9rem;

    p {
      margin-bottom: 0.5rem;
    }
  }

  // Disable hover effect on event page
  .event {
    &:hover {
      box-shadow: none;
    }
  }
}

.template-speakers {
  .speaker {
    h3 {
      font-family: $font-special;
      color: white;
      font-size: 1.4rem;
    }

    &:hover {
      background-color: lighten($c-bg, 5);
      transition: all 0.5s;

      .photo-small {
        filter: none;
      }
    }

    .photo-small {
      filter: grayscale(90%);
    }
  }
}
