@import "variables";
@import "icons";
@import "homepage";
@import "events";

body {
  background: black;
  color: white;

  font-family: $font-main;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  text-decoration: none;

  &:hover, :focus {
    text-decoration: none;
  }
}

header.site-header {
  font-family: $font-special;
  text-transform: uppercase;

  .logo img {
    width: 8rem;
    height: 8rem;
  }

  .main-information {
    height: 100%;
    border-left: 1px solid white;

    h1 {
      font-size: 1.05rem;
      margin-bottom: 0.3rem;
    }

    .place, time {
      font-size: 0.875rem;
      color: #D3D3D3;
    }

    p {
      margin: 0
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
