.template-stream {
  #body-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    min-height: 400px;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;

      &.blur {
        filter: blur(3px);
        -webkit-filter: blur(3px);
      }
    }
  }

  #form-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    button {
      font-family: $font-special;
    }
  }

  .box-bg {
    background-color: $c-bg;
  }

  .alternative {
    font-size: 0.95rem;

    a {
      color: gray;
    }
  }

  .btn-support {
    display: block;
    background: $c-red-light;
    color: white;
    font-family: $font-special;
    font-size: 1.8rem;
    line-height: 1;

    &.btn-blue {
      background: $c-blue-light;
      &:hover, :focus {
        background: darken($c-blue-light, 5);
        text-decoration: none;
      }
    }

    &:hover, :focus {
      background: darken($c-red-light, 5);
      text-decoration: none;
    }

    i {
      color: $c-special;
    }
  }
}
