.template-stream {
  #body-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #form-wrapper {
    display: none;

    button {
      font-family: $font-special;
    }

    .box-bg {
      background-color: $c-bg;
    }
  }

  .alternative {
    font-size: 0.95rem;
    a {
      color: gray;
    }
  }

  .btn-support {
    display: block;
    background: $c-red-light;
    color: white;
    font-family: $font-special;
    font-size: 1.8rem;
    line-height: 1;

    &:hover, :focus {
      background: darken($c-red-light, 5);
      text-decoration: none;
    }

    i {
      color: $c-special;
    }
  }
}
