{% load wagtailcore_tags %}

<div class="container-fluid site-header my-5">
  <div class="row no-gutters">
    <div class="col-sm-6 col d-flex justify-content-center justify-content-sm-end">
      <a href="{% pageurl festival %}" class="text-decoration-none">
        <div class="logo py-2 pr-4
                  d-flex flex-column justify-content-center">
          {% if festival.logo %}
            <img src="{{ festival.logo.url }}"
                 alt="Logo {{ festival.title }}">
          {% endif %}
        </div>
      </a>
    </div>
    <div class="col-sm-6 col d-flex justify-content-center justify-content-sm-start">
      <a href="{% pageurl festival %}" class="text-decoration-none">
        <div class="main-information py-2 pl-4
                  d-flex flex-column justify-content-center">
          <h1>{{ festival.formatted_title|richtext }}</h1>
          <div>
            {% ifequal festival.start_date.month festival.end_date.month %}
              <time datetime="{{ festival.start_date|date:'c' }}">
                {{ festival.start_date|date:'j.' }}
              </time>
              &mdash;
              <time datetime="{{ festival.end_date|date:'c' }}">
                {{ festival.end_date|date:'j. E Y' }}
              </time>
            {% else %}
              <time datetime="{{ festival.start_date|date:'c' }}">
                {{ festival.start_date|date:'j. E' }}
              </time>
              &mdash;
              <time datetime="{{ festival.end_date|date:'c' }}">
                {{ festival.end_date|date:'j. E Y' }}
              </time>
            {% endifequal %}
          </div>
          <div class="place">{{ festival.place }}</div>
        </div>
      </a>
    </div>
  </div>
</div>
