<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png?v=9B9EG6BgG4">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png?v=9B9EG6BgG4">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png?v=9B9EG6BgG4">
<link rel="manifest" href="/static/img/favicon/site.webmanifest?v=9B9EG6BgG4">
<link rel="mask-icon" href="/static/img/favicon/safari-pinned-tab.svg?v=9B9EG6BgG4" color="#5bbad5">
<link rel="shortcut icon" href="/static/img/favicon/favicon.ico?v=9B9EG6BgG4">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-config" content="/static/img/favicon/browserconfig.xml?v=9B9EG6BgG4">
<meta name="theme-color" content="#ffffff">
