{% load i18n wagtailcore_tags %}

<footer class="text-center mt-4">
  <div class="container-fluid copy">
    <div class="row">
      <div class="col my-3">
        <p class="mb-2">
          <a href="/bhd/gdpr/">{% trans "Privacy policy" %}</a>
        </p>
        <p>{% trans "The Ladislav Hanus Fellowship" %} &copy; {% now "Y" %}</p>
      </div>
    </div>
  </div>

  <div class="cookie d-flex justify-content-center">
    <div id="cookiesAlert" role="alert"
         class="alert alert-secondary alert-dismissible fade show py-1 d-none">
      <span>{% trans "We use 🍪 cookies" %} :)</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="{% trans "Close" %}">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</footer>
